include ../components/header


.container 
    a.btn.btn-primary(href="/student") Quản lý

    form(method="post" enctype="multipart/form-data")
        .mb-3
          label.form-label(for='fullname') Họ tên
          input#fullname.form-control(type='text' name="name" autocomplete="off")
        .mb-3
          label.form-label(for='age') Ngày sinh
          input#age.form-control(type='date' name="age" autocomplete="off" )
        .mb-3
          label.form-label(for='address') Địa chỉ
          input#address.form-control(type='text' name="address" autocomplete="off")
        .mb-3
          label.form-label(for='phone') Số điện thoại
          input#phone.form-control(type='text' name="phone" autocomplete="off")
        .mb-3
          label.form-label(for='grade') Khối
          input#grade.form-control(type='text' name="grade" autocomplete="off")
        .mb-3
          label.form-label(for='className') Lớp
          input#className.form-control(type='text' name="className" autocomplete="off")
        .mb-3
            label.form-label(for='formFile') Chọn ảnh
            input#formFile.form-control(type='file' name="image" accept="image/*")
        button.btn.btn-primary(type='submit') Submit
